ProductsSolution/DataAccess/bin/
ProductsSolution/DataAccess/obj/
ProductsSolution/BusinessLogic/bin/
ProductsSolution/BusinessLogic/obj/
ProductsSolution/DIManagement/bin/
ProductsSolution/DIManagement/obj/
ProductsSolution/DTO/bin/
ProductsSolution/DTO/obj/
ProductsSolution/Entities/bin/
ProductsSolution/Entities/obj/
ProductsSolution/IBusinessLogic/bin/
ProductsSolution/IBusinessLogic/obj/
ProductsSolution/IRepositories/bin/
ProductsSolution/IRepositories/obj/
ProductsSolution/WebApiServices/bin/
ProductsSolution/WebApiServices/obj/
IBusinessLogic/obj/*.*
*.exe
*.dll
*.pdb
*.cache
/ProductsSolution/IRepositories/obj/*.*
/ProductsSolution/IBusinessLogic/obj/*.*
/ProductsSolution/WebApiServices/obj/*.*

/ProductsSolution/.vs/ProductsSolution/v15/Server/sqlite3/storage.ide-shm
/ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csprojAssemblyReference.cache
/ProductsSolution/DataAccess/obj/Debug/netcoreapp2.1/DataAccess.csprojAssemblyReference.cache
/ProductsSolution/DIManagement/obj/Debug/netcoreapp2.1/DIManagement.csprojAssemblyReference.cache
ProductsSolution/.vs/ProductsSolution/v15/.suo
ProductsSolution/.vs/ProductsSolution/v15/Server/sqlite3/storage.ide
ProductsSolution/.vs/ProductsSolution/v15/Server/sqlite3/storage.ide-wal
ProductsSolution/WebApiServices/obj/Debug/netcoreapp2.1/WebApiServices.csprojAssemblyReference.cache
ProductsSolution/.vs/ProductsSolution/v15/.suo
ProductsSolution/ServiceSupport/obj/ServiceSupport.csproj.nuget.g.props
ProductsSolution/.vs/ProductsSolution/v15/.suo
ProductsSolution/.vs/ProductsSolution/v15/Server/sqlite3/storage.ide
ProductsSolution/.vs/ProductsSolution/v15/Server/sqlite3/storage.ide-wal
ProductsSolution/ASPNetMvc/bin/Debug/netcoreapp2.1/ASPNetMvc.deps.json
ProductsSolution/ASPNetMvc/obj/ASPNetMvc.csproj.nuget.g.props
ProductsSolution/ASPNetMvc/obj/project.assets.json
ProductsSolution/ASPNetMvc/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
ProductsSolution/ASPNetMvc/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
ProductsSolution/ASPNetMvc/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
ProductsSolution/BusinessLogic/ProductsBL.cs
ProductsSolution/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
ProductsSolution/BusinessLogic/obj/project.assets.json
ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.assets.cache
ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csprojAssemblyReference.cache
ProductsSolution/ClassLibrary1/bin/Debug/netstandard2.0/ClassLibrary1.deps.json
ProductsSolution/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
ProductsSolution/ClassLibrary1/obj/project.assets.json
ProductsSolution/ClassLibrary1/obj/Debug/netstandard2.0/ClassLibrary1.csproj.FileListAbsolute.txt
ProductsSolution/DIManagement/bin/Debug/netcoreapp2.1/DIManagement.deps.json
ProductsSolution/DIManagement/obj/DIManagement.csproj.nuget.g.props
ProductsSolution/DIManagement/obj/project.assets.json
ProductsSolution/DIManagement/obj/Debug/netcoreapp2.1/DIManagement.assets.cache
ProductsSolution/DIManagement/obj/Debug/netcoreapp2.1/DIManagement.csproj.CoreCompileInputs.cache
ProductsSolution/DIManagement/obj/Debug/netcoreapp2.1/DIManagement.csprojAssemblyReference.cache
ProductsSolution/DTO/ProductDTO.cs
ProductsSolution/DTO/obj/DTO.csproj.nuget.g.props
ProductsSolution/DTO/obj/project.assets.json
ProductsSolution/DTO/obj/Debug/netcoreapp2.1/DTO.assets.cache
ProductsSolution/DTO/obj/Debug/netcoreapp2.1/DTO.csproj.FileListAbsolute.txt
ProductsSolution/DataAccess/ProductsDBContext.cs
ProductsSolution/DataAccess/obj/DataAccess.csproj.nuget.g.props
ProductsSolution/DataAccess/obj/project.assets.json
ProductsSolution/DataAccess/obj/Debug/netcoreapp2.1/DataAccess.assets.cache
ProductsSolution/DataAccess/obj/Debug/netcoreapp2.1/DataAccess.csproj.CoreCompileInputs.cache
ProductsSolution/DataAccess/obj/Debug/netcoreapp2.1/DataAccess.csprojAssemblyReference.cache
ProductsSolution/Entities/obj/Entities.csproj.nuget.g.props
ProductsSolution/Entities/obj/project.assets.json
ProductsSolution/Entities/obj/Debug/netcoreapp2.1/Entities.assets.cache
ProductsSolution/Entities/obj/Debug/netcoreapp2.1/Entities.csproj.FileListAbsolute.txt
ProductsSolution/IBusinessLogic/obj/IBusinessLogic.csproj.nuget.g.props
ProductsSolution/IBusinessLogic/obj/project.assets.json
ProductsSolution/IBusinessLogic/obj/Debug/netcoreapp2.1/IBusinessLogic.assets.cache
ProductsSolution/IBusinessLogic/obj/Debug/netcoreapp2.1/IBusinessLogic.csprojAssemblyReference.cache
ProductsSolution/IRepositories/obj/IRepositories.csproj.nuget.g.props
ProductsSolution/IRepositories/obj/project.assets.json
ProductsSolution/IRepositories/obj/Debug/netcoreapp2.1/IRepositories.assets.cache
ProductsSolution/IRepositories/obj/Debug/netcoreapp2.1/IRepositories.csproj.FileListAbsolute.txt
ProductsSolution/MachineLearning/MachineLearning.csproj
ProductsSolution/MachineLearning/ProductPredictions.cs
ProductsSolution/MachineLearning/Program.cs
ProductsSolution/MachineLearning/bin/Debug/netcoreapp2.1/MachineLearning.deps.json
ProductsSolution/MachineLearning/obj/MachineLearning.csproj.nuget.g.props
ProductsSolution/MachineLearning/obj/MachineLearning.csproj.nuget.g.targets
ProductsSolution/MachineLearning/obj/project.assets.json
ProductsSolution/NUnitTestProject/bin/Debug/netcoreapp2.1/NUnitTestProject.deps.json
ProductsSolution/NUnitTestProject/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
ProductsSolution/NUnitTestProject/obj/NUnitTestProject.csproj.nuget.g.props
ProductsSolution/NUnitTestProject/obj/project.assets.json
ProductsSolution/ServiceSupport/obj/project.assets.json
ProductsSolution/UniversalProducts/obj/UniversalProducts.csproj.nuget.g.props
ProductsSolution/UniversalProducts/obj/UniversalProducts.csproj.nuget.g.targets
ProductsSolution/UniversalProducts/obj/project.assets.json
ProductsSolution/UniversalProducts/obj/x86/Debug/XamlSaveStateFile.xml
ProductsSolution/WebApiServices/bin/Debug/netcoreapp2.1/WebApiServices.deps.json
ProductsSolution/WebApiServices/obj/WebApiServices.csproj.nuget.cache
ProductsSolution/WebApiServices/obj/WebApiServices.csproj.nuget.g.props
ProductsSolution/WebApiServices/obj/project.assets.json
ProductsSolution/WebApiServices/obj/Debug/netcoreapp2.1/WebApiServices.assets.cache
ProductsSolution/WebApiServices/obj/Debug/netcoreapp2.1/WebApiServices.csproj.CoreCompileInputs.cache
ProductsSolution/WebApiServices/obj/Debug/netcoreapp2.1/WebApiServices.csprojAssemblyReference.cache
ProductsSolution/WinForm/obj/Debug/WinForm.csproj.FileListAbsolute.txt
/ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csproj.CoreCompileInputs.cache
/ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csproj.FileListAbsolute.txt
/ProductsSolution/BusinessLogic/obj/Debug/netcoreapp2.1/BusinessLogic.csprojAssemblyReference.cache
ProductsSolution/.vs/
PythonML/venv/
ProductsSolution/packages/Accord.Statistics.3.8.0/lib/net35-unity full v3.5/Accord.Statistics.xml
ProductsSolution/packages/
ProductsSolution/Testing1/bin/
ProductsSolution/Testing1/obj/
ProductsSolution/TestingStandar/obj/
ProductsSolution/UniversalProducts/bin/
ProductsSolution/UniversalProducts/obj/
ProductsSolution/WebApiShopping/obj/
ProductsSolution/WinForm/obj/
ProductsSolution/WinForm/bin/
ProductsSolution/WebApiShopping/bin/
ProductsSolution/ProductsAppUniversal/obj/
ProductsSolution/ServiceSupport/bin/
ProductsSolution/ServiceSupport/obj/
ProductsSolution/process/obj/
ProductsSolution/chapter2/obj/
ProductsSolution/CommonFunctions/obj/
ProductsSolution/CosmosDBMigration/bin/
ProductsSolution/chapter2/bin/
ProductsSolution/MachineLearning/obj/
ProductsSolution/MachineLearning/bin/
ProductsSolution/MongoDBAccess/bin/
ProductsSolution/MongoDBAccess/obj/
ProductsSolution/MongoDBMigration/bin/
ProductsSolution/MongoDBMigration/obj/
ProductsSolution/NUnitTestProject/bin/
ProductsSolution/NUnitTestProject/obj/
