/* You can add global styles to this file, and also import other style files */
.ij_modal .app-modal-header {
  background-color: #ffffff;
  margin-top: 100px;
	font-weight: 600;
	padding: 5px;
}
.ij_modal input, .ij_modal select {
	border-radius: 50px;
	border: 1px solid #cccccc;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1rem;
	margin-bottom: 10px;
}
.mydiv {
  position:absolute;
  top: 51%;
  left: 60%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}
.terminal {
  background-color: black;
  margin-top: 10px;
  height: 300px;
  width: 600px;
  color: white;
  overflow: auto;
  font: 1.3rem Inconsolata, monospace;
}

