<div>
  Busqueda de productos: <input type="text" value="Car Tires"><br>
  Sucursal:
  <select>
    <option value='Argentina'>Argentina</option>
  </select>
  <div>
    <button type="button">Buscar</button>
  </div>
</div>

<div class="wrapper">
  <div class="product-img">
    <img src="../../../assets/sub1.png" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>Car Tires</h1>
      <h2>by avenue tires depot</h2>
      <p>Car Tires son una reintegración<br> de ruedas para todo tipo de terreno<br> las cuales pueden rodar en cualquier tipo de circunstancia, siendo estas mismas <br>para cualquier tipo de clima<br> permitiendo al usuario un manejo sin preocupaciones.</p>
    </div>
    <div style="font-size: small;text-align: center; color: red;">
      En este momento no se posee stock en esta sucursal
    </div>
    <div class="product-price-btn">
      <p><span>592</span>$</p>

      <button type="button" disabled >Comprar ahora</button>
    </div>
  </div>
</div>
