<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- local -->
    <add key="EndPointUri" value="https://localhost:8081"/>
    <add key="PrimaryKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="/>
    <!-- Azure -->
    <!--<add key="EndPointUri" value="https://cosmosdatabaseijoakin.documents.azure.com:443/"/>
    <add key="PrimaryKey" value="OpOUFW8j2eVoM07bYGxfF3tPXv3YvnazcVz0PHBDNS5BUxCvAkQyFsB9nRYaS2VRQNItr2eLwVPUWYSYZWlYTQ=="/>-->


  </appSettings>
</configuration>