<h2>Portal de ventas</h2>
<div class="table-responsive">
    <div class="col-sm-4">
      Busqueda de productos:
       <select  class="form-control" [(ngModel)]="product.id" (change)="this.hideProduct()">
          <option *ngFor="let product of this.products" [value]="product.id" > {{product.description}} </option>
      </select>
      <br>
      Sucursal:

     <label>País</label>
    <select  class="form-control" [(ngModel)]="country.id" (change)="this.hideProduct()">
      <option *ngFor="let c of this.countries" [value]="c.id" > {{c.description}} </option>
    </select>
      <div>
        <button type="button" (click) = "this.getProduct()">Buscar</button>
      </div>
    </div>
</div>

<div class="wrapper" [style.display]="showProduct ? 'block' : 'none'">
  <div class="product-img">
    <img src="../../../assets/{{this.product.description}}.png" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>{{this.product.description}}</h1>
      <h2>by avenue tires depot</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        <br > Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>
    <div style="font-size: small;text-align: center; color: red;" [style.display]="showNotStock ? 'block' : 'none'">
      En este momento no se posee stock en esta sucursal
    </div>
    <div style="font-size: small;text-align: center; color: black;" [style.display]="!showNotStock ? 'block' : 'none'">
      En este momento se posee un stock de: {{this.stock.amount}}
    </div>
    <div class="product-price-btn">
      <p><span>{{this.product.price}}</span>$</p>

      <button type="button" [disabled]="showNotStock" (click)="this.comprar()">Comprar ahora</button>
    </div>
  </div>
</div>
